header {
    background-color: #ffffff;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header img {
    width: 80px;
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header h1 {
    font-size: 30px;
    font-family : 'NanumSquare', sans-serif;
    font-weight: 800;
    color: #2c3e50;
    margin: 0;
    padding: 10px 20px;
    white-space: nowrap;
}

header nav ul {
    font-family : 'NanumSquare', sans-serif;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 10px;
    transition: color 0.3s;
}

header nav ul li a:hover,
header nav ul li a:focus {
    border-bottom: 5px solid #2c3e50;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff7d9;
    border: 2px solid rgba(242, 238, 13, 0.911);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-weight: bold;
}

form .form-group {
    display: flex;
    justify-content: flex-start; /* 좌측 정렬 */
    align-items: center;
    margin-bottom: 15px;
}

form label {
    margin-right: 10px;
    font-weight: bold;
    width: 100px; /* 고정된 너비 */
    text-align: left; /* 라벨 텍스트 왼쪽 정렬 */
}

form input[type="text"], form input[type="password"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left; /* 입력 필드 내 텍스트 왼쪽 정렬 */
}

.login-button {
    display: block;
    width: 100%;
    padding: 5px 10px; /* 세로 5px, 가로 10px */
    margin-top: 20px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #ffcd00;
}