<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library in Diary</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main_responsive.css">
    <link rel="stylesheet" href="https://webfontworld.github.io/NanumSquare/NanumSquare.css">
</head>
<body>
<!-- 헤더 섹션 -->
<header>
    <img src="image/notebook_icon.png" alt="Notebook Icon">
    <a href="main"><h1>일기 속 도서관</h1></a>
    <nav>
        <ul>
            <li><a href="recommend">도서 추천</a></li>
            <li><a href="my_library">도서함</a></li>
            <li><a href="mypage">내 정보</a></li>
        </ul>

        <div th:if="${username != null}">
            <button type="button" class="login-button" onClick="location.href='/logout'">로그아웃</button>
        </div>
        <div th:if="${username == null}">
            <button type="button" class="login-button" onClick="location.href='/login'">로그인</button>
        </div>

    </nav>
</header>

<!-- 소개 섹션1 -->
<section id="about1">
    <img src="image/bulb.png" class="bulb-icon" alt="전구 아이콘">
    <h2> 나의 일상에서 책을 만나다</h2>
    <p>일기 속 도서관, <br/>
        아이들의 마음 속 이야기와 책을 이어주는 특별한 공간입니다.</p>
</section>

<!-- 소개 섹션2 -->
<section id="about2">
    <div class="about2-content">
        <div class="text-container">
            <h2>LET'S READ!</h2>
            <p>아이들이 쓴 일기를 바탕으로 <br/>
                맞춤형 도서를 추천해주는 서비스입니다.</p>
            <button type="button" class="diary-button" onClick="location.href='recommend'">일기 작성하기</button>
        </div>
        <div class="image-container">
            <img src="image/introduction.jpg" alt="소개2의 오른쪽이미지">
        </div>
    </div>
</section>

<!-- 장점 섹션 -->
<section id="advantages">
    <div class="advantage-box">
        <img src="image/icon1.png" alt="맞춤형 도서 추천 아이콘" class="advantage-icon">
        <h3>맞춤형 <br/> 도서 추천</h3>
        <p>아이들이 쓴 일기를 기반으로 AI가 키워드를 추출하여 개개인에게 꼭 맞는 책을 추천합니다.</p>
    </div>
    <div class="advantage-box">
        <img src="image/icon2.png" alt="자기 주도적 독서 습관 아이콘" class="advantage-icon">
        <h3>자기 주도적 <br/> 독서 습관 형성</h3>
        <p>일기를 통해 자신이 겪은 일들을 돌아보고, 관련된 책을 추천받음으로써 독서에 대한 흥미를 느끼게 됩니다.</p>
    </div>
    <div class="advantage-box">
        <img src="image/icon3.png" alt="재미와 교훈 아이콘" class="advantage-icon">
        <h3>재미와 교훈을 <br/> 함께 얻는 독서</h3>
        <p>자신의 상황에 맞는 책을 읽으며 재미를 느끼고, 그 속에서 교훈을 얻을 수 있습니다.</p>
    </div>
</section>

</body>
</html>