<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library in Diary</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://webfontworld.github.io/NanumSquare/NanumSquare.css">
</head>
<body>
<!-- 헤더 섹션 -->
<header>
    <img src="../image/notebook_icon.png" alt="Notebook Icon">
    <h1>일기 속 도서관</h1>
    <nav>
        <ul>
            <li><a href="#">도서 추천</a></li>
            <li><a href="my_library.html">도서함</a></li>
            <li><a href="#">내 정보</a></li>
        </ul>

        <button type="button" class="login-button" onClick="location.href='login.html'">로그인</button>
    </nav>
</header>
<!--            <p th:text="'안녕하세요, ' + ${username} + '님!'"></p>-->

</body>
</html>