<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library in Diary</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://webfontworld.github.io/NanumSquare/NanumSquare.css">
</head>
<body>
<!-- 헤더 섹션 -->
<header>
    <img src="../image/notebook_icon.png" alt="Notebook Icon">
    <h1>일기 속 도서관</h1>
    <nav>
        <ul>
            <li><a href="recommend">도서 추천</a></li>
            <li><a href="my_library">도서함</a></li>
            <li><a href="mypage">내 정보</a></li>
        </ul>
        <!-- 로그인 상태에 따라 버튼 표시 -->
        <div th:if="${username != null}">
            <!-- 로그인된 상태에서 '로그아웃' 버튼 -->
            <a href="/logout">로그아웃</a>
        </div>
        <div th:if="${username == null}">
            <!-- 로그인되지 않은 상태에서 '로그인' 버튼 -->
            <button type="button" class="login-button" onClick="location.href='/login'">로그인</button>
        </div>
    </nav>
</header>

<p th:text="'안녕하세요, ' + ${username} + '님!'"></p>
<h1>메인 페이지</h1>

</body>
</html>