<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 확인 페이지</title>
  <link rel="stylesheet" href="https://webfontworld.github.io/NanumSquare/NanumSquare.css">
</head>
<body>

<div class="login-container">
  <h2>비밀번호를 확인해주세요</h2>
  <form id="loginForm" th:action="@{/password}" method="post">
    <div class="input-container">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" > 비밀번호 확인 </button>
  </form>
  <p th:if="${error}" th:text="${error}"></p>

</div>

</body>
</html>