<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="my_library">도서함</a></li>
                <li><a href="mypage">내정보</a></li>
                <li><a href="recommend">도서추천</a></li>
            </ul>
        </nav>
        <p th:text="'안녕하세요, ' + ${username} + '님!'"></p>

        <!--        <button class="login-button">로그인</button>   로그아웃으로 만들기 -->
    </header>

    <h1>recommend 도서 추천 페이지</h1>

    <!-- 날짜 선택 섹션 -->
    <div class="date-picker-container">
        <label id="current-date">📅</label>
    </div>

    <!-- 일기 작성 -->
    <div class="diary-section">
        <div class="today-diary">
            <h2>오늘의 일기</h2>
            <input type="text" id="diary-text" placeholder="오늘의 하루는 어땠나요?" /> <!-- 기본 텍스트 추가 -->
        </div>
    </div>

    <!-- 저장 -->
    <div class="button-group">
        <button class="small-button">저장</button>
    </div>

</div>

<!-- JavaScript -->
<script>
    // 현재 날짜를 가져오는 함수
    function getCurrentDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = ('0' + (today.getMonth() + 1)).slice(-2); // 월을 2자리로 표시
        const day = ('0' + today.getDate()).slice(-2); // 일을 2자리로 표시
        return `${year}-${month}-${day}`;
    }

    // 페이지 로드 시 오늘의 날짜 표시
    document.getElementById('current-date').innerText += ` ${getCurrentDate()}`;
</script>

</body>
</html>