<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://webfontworld.github.io/NanumSquare/NanumSquare.css">
</head>
<body>
<!-- 헤더 섹션 -->
<header>
    <img src="../image/notebook_icon.png" alt="Notebook Icon">
    <a href="main.html"><h1>일기 속 도서관</h1></a>
    <nav>
        <ul>
            <li><a href="recommend">도서 추천</a></li>
            <li><a href="my_library">도서함</a></li>
            <li><a href="mypage">내 정보</a></li>
        </ul>
        <button type="button" class="login-button" onClick="location.href='login'">로그인</button>
        <!--로그인 상태라면 로그아웃으로 변경-->
    </nav>
</header>

<!-- 회원가입 컨테이너 -->
<div class="signup-container">
    <h2>회원가입</h2>
    <form id="signupForm" th:action="@{/signup/create}" method="post">
        <div class="input-container">
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-container">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button class="signup-button" type="submit">가입하기</button>
    </form>
</div>
</body>
</html>
